/****************WELCOME****************/
#particles-js {
  position: relative;
  height: 100vh;
  background: $purple;
}

.welcome {
  height: max-content;
  width: max-content;
  max-width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: $purple;
  background: transparent;
  color: white;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 6rem;
  }

  &-links {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .icon {
      margin: 0 1rem;
      font-size: 3rem;

      a {
        color: $light-blue;

        &:hover {
          color: $brown;
          transition: 0.3s ease;
          transform: scale(1.2);
        }
      }
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 768px) {
  .welcome {
    padding-left: 1rem;
    padding-right: 1rem;
    h1 {
      font-size: 5rem;
    }
  }
}
