.page-title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

footer {
  background: $purple;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 0.4rem;

  span {
    color: $brown;
  }

  .attribute a {
    text-decoration: none;
    color: $light-blue;
    padding-bottom: 0.3rem;
  }
}
